##### Q1. What is a database? Differentiate between SQL and NoSQL databases.

 * A database is a structured collection of data organized for efficient storage, retrieval, and management. Databases are used to store and manipulate large volumes of information in a way that allows users or applications to access, update, and query the data effectively.

 * SQL Databases:

SQL databases are relational databases, which means they are based on the relational model. Data is organized into tables with rows and columns, and the relationships between different tables are defined using keys.

* NoSQL Databases:

NoSQL databases encompass various data models, including document-based, key-value, column-family, and graph databases. They are designed to be more flexible and schema-less, allowing for dynamic and unstructured data.

##### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

* DDL stands for Data Definition Language, which is a subset of SQL used for defining and managing the structure of a database. DDL statements are responsible for creating, modifying, and deleting database objects, such as tables, indexes, and constraints.

* CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, and views. It specifies the structure of the object, including its columns, data types, and constraints.

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    employee_name VARCHAR(50),
    salary DECIMAL(10, 2)
);

* DROP:
The DROP statement is used to delete existing database objects. It permanently removes the object and all associated data.

DROP TABLE employees;

* ALTER:
The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify, or delete columns, change data types, or add constraints.

ALTER TABLE employees
ADD COLUMN department VARCHAR(50);

 * TRUNCATE:
The TRUNCATE statement is used to quickly delete all data from a table while retaining the table structure. It is faster than using DELETE for removing all records.

TRUNCATE TABLE employees;

##### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

 * DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for interacting with and manipulating data stored in a database. DML statements are responsible for performing actions such as inserting, updating, retrieving, and deleting data within database tables.

* INSERT:
The INSERT statement is used to add new rows of data into a database table. It specifies the table into which data should be inserted and the values to be inserted into each column.

INSERT INTO employees (employee_id, employee_name, salary, department)
VALUES (1, 'John Smith', 50000, 'HR');

 * UPDATE:
The UPDATE statement is used to modify existing data within a table. It allows you to change the values of specific columns in one or more rows that meet a specified condition

UPDATE employees
SET salary = 55000
WHERE employee_id = 1;

 * DELETE:
The DELETE statement is used to remove one or more rows from a table based on a specified condition. It deletes the entire row(s) that match the condition.

DELETE FROM employees
WHERE employee_id = 2;

##### Q4. What is DQL? Explain SELECT with an example.

* DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for retrieving and querying data from a database. DQL statements are primarily concerned with selecting and retrieving data from one or more tables in a database. The most common DQL statement is SELECT, which allows you to specify which columns you want to retrieve and apply various filtering and sorting criteria to the data.

* The SELECT statement is highly versatile and can be extended to include features such as sorting, grouping, aggregating, and joining multiple tables to retrieve and manipulate data in various ways to meet specific data retrieval and analysis requirements.

 - SELECT employee_name, salary
 - FROM employees
 - WHERE department = 'HR' AND salary > 50000;

##### Q5. Explain Primary Key and Foreign Key.

 * A Primary Key is a column or a set of columns in a database table that uniquely identifies each row or record in that table.
It enforces entity integrity, meaning that each row in the table must have a unique identifier, and it cannot contain duplicate values in the specified column(s).
Primary Keys are used to create relationships between tables and to establish referential integrity constraints.
Typically, a Primary Key is implemented as an index on the specified column(s), which allows for efficient data retrieval.
Common data types for Primary Keys include integers, strings, and GUIDs (Globally Unique Identifiers).

 * A Foreign Key is a column or a set of columns in one table that establishes a link between the data in two tables. It creates a relationship between the tables, allowing one table to refer to the values in another table.
It enforces referential integrity, ensuring that the values in the Foreign Key column(s) correspond to values in the Primary Key column(s) of another table.
Foreign Keys are used to maintain consistency and data integrity when data is spread across multiple related tables.
Foreign Keys help implement constraints like cascading updates and deletes, where changes to the referenced table affect related rows in the referring table.

##### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

pip install mysql-connector-python

In [ ]:
import mysql.connector

# Replace with your own database credentials
db_config = {
    "host": "my_host",
    "user": "my_username",
    "password": "my_password",
    "database": "my_database",
}

try:
    # Establish a connection to the MySQL server
    connection = mysql.connector.connect(**db_config)

    # Create a cursor object to interact with the database
    cursor = connection.cursor()

    # Example 1: Execute a simple SQL query
    query = "SELECT * FROM my_table_name"
    cursor.execute(query)

    # Fetch and display the results
    results = cursor.fetchall()
    for row in results:
        print(row)

    # Example 2: Insert data into a table
    insert_query = "INSERT INTO my_table_name (column1, column2) VALUES (%s, %s)"
    data_to_insert = ("value1", "value2")
    cursor.execute(insert_query, data_to_insert)

    # Commit the changes to the database (mandatory for write operations)
    connection.commit()

except mysql.connector.Error as error:
    print("Error:", error)

finally:
    # Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()

##### Q7. Give the order of execution of SQL clauses in an SQL query.

- SELECT clause
- FROM clause
- WHERE clause
- GROUP BY clause
- HAVING clause
- DISTINCT clause
- ORDER BY clause
- LIMIT
- UNION